{% extends 'reservas/base.html' %}

{% block content %}
<h2>Solicitações de Reserva</h2>

<h3>Em análise</h3>
{% for solicitacao in solicitacoes_em_analise %}
    <div>
        <h3>Solicitação {{ solicitacao.id }}</h3>
        <p>Solicitante: {{ solicitacao.solicitante.username }}</p>
        <p>Prédio: {{ solicitacao.predio.nome }}</p>
        <p>Salas: {{ solicitacao.salas.all|join:", " }}</p>
        <p>Data: {{ solicitacao.data }}</p>
        <p>Horário: {{ solicitacao.horario }}</p>
        <p>Duração: {{ solicitacao.duracao }} horas</p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="solicitacao_id" value="{{ solicitacao.id }}">
            <textarea name="justificativa" placeholder="Justificativa"></textarea>
            <button type="submit" name="acao" value="aprovar">Aprovar</button>
            <button type="submit" name="acao" value="rejeitar">Rejeitar</button>
        </form>
    </div>
{% empty %}
    <p>Não há solicitações pendentes de avaliação.</p>
{% endfor %}

<h3>Aprovadas</h3>
{% for solicitacao in solicitacoes_aprovadas %}
    <div>
        <h3>Solicitação {{ solicitacao.id }}</h3>
        <p>Solicitante: {{ solicitacao.solicitante.username }}</p>
        <p>Prédio: {{ solicitacao.predio.nome }}</p>
        <p>Salas: {{ solicitacao.salas.all|join:", " }}</p>
        <p>Data: {{ solicitacao.data }}</p>
        <p>Horário: {{ solicitacao.horario }}</p>
        <p>Duração: {{ solicitacao.duracao }} horas</p>
    </div>
{% empty %}
    <p>Não há solicitações aprovadas.</p>
{% endfor %}

<h3>Rejeitadas</h3>
{% for solicitacao in solicitacoes_rejeitadas %}
    <div>
        <h3>Solicitação {{ solicitacao.id }}</h3>
        <p>Solicitante: {{ solicitacao.solicitante.username }}</p>
        <p>Prédio: {{ solicitacao.predio.nome }}</p>
        <p>Salas: {{ solicitacao.salas.all|join:", " }}</p>
        <p>Data: {{ solicitacao.data }}</p>
        <p>Horário: {{ solicitacao.horario }}</p>
        <p>Duração: {{ solicitacao.duracao }} horas</p>
    </div>
{% empty %}
    <p>Não há solicitações rejeitadas.</p>
{% endfor %}
{% endblock %}
