<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>PoliSalas</title>
</head>
<body>
    <header>
        <h1>PoliSalas</h1>
        <nav>
            <a href="{% url 'home' %}">Início</a>
            {% if user.is_authenticated %}
                <!-- Links comuns para todos os usuários autenticados -->
                <a href="{% url 'solicitar_reserva' %}">Solicitar Reserva</a>
                <a href="{% url 'minhas_reservas' %}">Minhas Reservas</a>
                
                {% if user.is_superuser %}
                    <!-- Links para Superusuário -->
                    <a href="{% url 'lista_administradores_prediais' %}">Administradores Prediais</a>
                    <a href="{% url 'lista_predios' %}">Listar Prédios</a>
                    <a href="{% url 'criar_predio' %}">Criar Prédio</a>
                {% elif user.is_building_administrator %}
                    <!-- Links para Administrador Predial -->
                    <a href="{% url 'avaliar_solicitacoes' %}">Solicitações de Reserva</a>
                    <a href="{% url 'gerenciar_salas' predio.id %}">Gerenciar Salas</a>
                {% endif %}
                
                <a href="{% url 'logout' %}">Sair</a>
            {% else %}
                <a href="{% url 'login' %}">Entrar</a>
                <a href="{% url 'registro_usuario' %}">Registrar-se</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 PoliSalas</p>
    </footer>
</body>
</html>
