{% extends 'reservas/base.html' %}

{% block content %}
<h2>Gerenciar Salas - {{ predio.nome }}</h2>

<ul>
    {% for sala in salas %}
        <li>
            {{ sala.nome }} - Capacidade: {{ sala.capacidade }}
            <form method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="sala_id" value="{{ sala.id }}">
                <button type="submit" name="excluir_sala">Excluir</button>
            </form>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'criar_sala' predio.id %}">Adicionar Nova Sala</a>
<br>
<a href="{% url 'lista_predios' %}">Voltar</a>
{% endblock %}
