{% extends 'reservas/base.html' %}

{% block content %}
<h2>Lista de Administradores Prediais</h2>
<div class="cards-container">
    {% for admin in administradores %}
    <div class="card">
        <div class="card-content">
            <h3>{{ admin.username }}</h3>
            <p><strong>Prédio:</strong> {{ admin.administracaopredial.predio.nome }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{% url 'criar_administrador_predial' %}" class="button-reserva">Adicionar Novo Administrador Predial</a>
{% endblock %}
