<!-- templates/reservas/minhas_reservas.html -->

{% extends 'reservas/base.html' %}

{% block content %}
<h2>Minhas Reservas</h2>

<ul>
    {% for solicitacao in solicitacoes %}
    <li>
        <strong>Prédio:</strong> {{ solicitacao.predio.nome }}<br>
        <strong>Sala(s):</strong>
        <ul>
            {% for sala in solicitacao.salas.all %}
                <li>{{ sala.nome }}</li>
            {% endfor %}
        </ul>
        <strong>Data:</strong> {{ solicitacao.data }}<br>
        <strong>Horário:</strong> {{ solicitacao.horario }}<br>
        <strong>Duração:</strong> {{ solicitacao.duracao_formatada }}<br>
        <strong>Status:</strong> {{ solicitacao.status }}<br>
        <strong>Descrição:</strong> {{ solicitacao.descricao }}
    </li>
    {% empty %}
    <li>Você ainda não fez nenhuma solicitação.</li>
    {% endfor %}
</ul>

<a href="{% url 'selecionar_predio_para_reserva' %}">Fazer Nova Solicitação</a>
{% endblock %}
