{% extends 'reservas/base.html' %}

{% block content %}
<h2>Minhas Reservas</h2>
<a href="{% url 'selecionar_predio_para_reserva' %}" class="new-request-button">Fazer Nova Solicitação</a>

<div class="cards-container">
    {% for solicitacao in solicitacoes %}
    <div class="card">
        <div class="card-content">
            <h3>Solicitação #{{ solicitacao.id }}</h3>
            <p><strong>Prédio:</strong> {{ solicitacao.predio.nome }}</p>
            <p><strong>Salas:</strong>
                <ul>
                    {% for sala in solicitacao.salas.all %}
                        <li>{{ sala.nome }}</li>
                    {% endfor %}
                </ul>
            </p>
            <p><strong>Data:</strong> {{ solicitacao.data }}</p>
            <p><strong>Horário:</strong> {{ solicitacao.horario }}</p>
            <p><strong>Duração:</strong> {{ solicitacao.duracao_formatada }}</p>
            <p><strong>Status:</strong> {{ solicitacao.status }}</p>
            <p><strong>Descrição:</strong> {{ solicitacao.descricao }}</p>
        </div>
    </div>
    {% empty %}
    <p>Você ainda não fez nenhuma solicitação.</p>
    {% endfor %}
</div>
{% endblock %}
