{% extends 'reservas/base.html' %}

{% block content %}
<h2>Selecione o Prédio para Reservar Sala(s)</h2>

<!-- Cards Container for Prédios -->
<div class="cards-container">
    {% for predio in predios %}
        <a href="{% url 'solicitar_reserva' predio.id %}" class="card">
            <div class="card-content">
                <h3>{{ predio.nome }}</h3>
                <!-- Add more details if needed -->
            </div>
        </a>
    {% endfor %}
</div>

<a href="{% url 'home' %}" class="button-reserva voltar">Voltar</a>
{% endblock %}
