{% extends 'reservas/base.html' %}

{% block content %}
<h2>Selecione um Prédio</h2>
<div class="cards-container">
    {% for predio in predios %}
    <a href="{% url 'gerenciar_salas' predio.id %}" class="card">
        <div class="card-content">
            <h3>{{ predio.nome }}</h3>
            <!-- You can add more details about each prédio here if available -->
        </div>
    </a>
    {% endfor %}
</div>
<a href="{% url 'home' %}" class="button-reserva voltar">Voltar</a>
{% endblock %}
