{% extends 'reservas/base.html' %}

{% block content %}
<h2 class="content-title">Solicitar Reserva de Sala(s) no Prédio {{ predio.nome }}</h2>

<form method="post" class="form-container">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="error">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <div class="form-group">
        <strong>Prédio:</strong> {{ predio.nome }}
    </div>

    <!-- Cards Container for Salas -->
    <div class="cards-container">
        {% for sala in salas %}
            <label class="card-selectable">
                <input type="checkbox" name="salas" value="{{ sala.id }}"
                {% if sala.id|stringformat:"s" in selected_salas %} checked{% endif %}>
                <div class="card-content">
                    <h3>{{ sala.nome }}</h3>
                    <p><strong>Capacidade:</strong> {{ sala.capacidade }} pessoas</p>
                    <p><strong>Projetores:</strong> {{ sala.numero_projetores }}</p>
                    <p><strong>Computadores:</strong> {{ sala.numero_computadores }}</p>
                    <p><strong>Ar Condicionado:</strong> {% if sala.ar_condicionado %}Sim{% else %}Não{% endif %}</p>
                    <p><strong>Tipo:</strong> {{ sala.giz_canetao }}</p>
                </div>
                <span class="custom-checkbox"></span>
            </label>
        {% endfor %}
    </div>
    {{ form.salas.errors }}

    <div class="form-group">
        <label for="id_data">Data:</label>
        {{ form.data }}
        {{ form.data.errors }}
    </div>

    <div class="form-group">
        <label for="id_horario">Horário de Início:</label>
        {{ form.horario }}
        {{ form.horario.errors }}
    </div>

    <div class="form-group">
        <label for="id_duracao">Duração (em horas):</label>
        {{ form.duracao }}
        {{ form.duracao.errors }}
    </div>

    <div class="form-group">
        <label for="id_descricao">Descrição:</label>
        {{ form.descricao }}
        {{ form.descricao.errors }}
    </div>

    <button type="submit" class="button-reserva">Enviar Solicitação</button>
</form>

<a href="{% url 'selecionar_predio_para_reserva' %}" class="button-reserva voltar">Voltar</a>
{% endblock %}
